@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 85px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.container{
    height:60vh;
    display:flex;
    align-items:center;
    justify-content:center;

    margin: 0;
    padding: 0;
}
.card{
    width:350px;
    height:330px;
    margin: 0;
    background-color:#fff;
    padding:10px;
    border-radius:10px
}
.card ul{
    padding-left:10px;
    min-width:100%
}
.card ul li{
    list-style:none;
    padding:10px;
    display:table;
    position:relative;
    margin:10px 0;
    cursor:pointer;
    padding-left:50px;
    width:270px;
    transition:2s
}
.card ul li:hover{
    padding-left:20px
}
.card ul li span{
    position:relative;
    z-index:10;
    transition:all 0s;
    transition-delay:0.2s;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:250px;
    display:inline-block
}
.card ul li:hover span{
    color:#fff
}
.card ul li::before{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    background-color:transparent;
    border-radius:34px;
    top:0;
    left:0;
    transition:all 0.8s;
    border:2px solid #0C4160;
    box-sizing:border-box
}
.card ul li::after{
    content:'';
    position:absolute;
    top:15px;left:15px;
    height:5px;
    width:5px;
    transform:rotate(45deg);
    border-top:2px solid #0C4160;
    border-right:2px solid #0C4160
}
.card ul li:hover::before{
    width:100%;
    background-color:#0C4160
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.icons_container{
    display: inline-flex;
   
  }
  .icons_container .icon{
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icons_container .icon span{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:19px;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
   
  .icons_container .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icons_container .icon:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icons_container .icon:hover span{
    color: #fff;
  }
  .icons_container .icon:hover span,
  .icons_container .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .icons_container .sound1:hover span,
  .icons_container .sound1:hover .tooltip,
  .icons_container .sound1:hover .tooltip:before{
    background: #3B5999;
  }
  .icons_container .sound2:hover span,
  .icons_container .sound2:hover .tooltip,
  .icons_container .sound2:hover .tooltip:before{
    background: #46C1F6;
  }
  .icons_container .sound3:hover span,
  .icons_container .sound3:hover .tooltip,
  .icons_container .sound3:hover .tooltip:before{
    background: #e1306c;
  }
  .icons_container .sound4:hover span,
  .icons_container .sound4:hover .tooltip,
  .icons_container .sound4:hover .tooltip:before{
    background: #333;
  }
  .icons_container .sound5:hover span,
  .icons_container .sound5:hover .tooltip,
  .icons_container .sound5:hover .tooltip:before{
    background: #DE463B;
  }